version: "3.8"
services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: shopping
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: